.desc {
    margin-top: 7.25rem;

    &__subtitle {
        max-width: 44rem;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 1.25;

        color: #413954;

        &_gradient {
            background: linear-gradient(90deg, #7137FF, #BF99FF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.skills {
    margin-top: 5rem;
    width: 100%;
}
.skill {
    width: 100%;
    border-top: 1px solid #CECECE;
    display: flex;
    justify-content: space-between;

    &__number, &__title {
        margin-top: 2.0625rem;
        width: calc(100% / 3);

        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5625rem;
        line-height: 200%;

        color: #39314C;
    }

    &__title {
        margin-top: 2.1875rem;
        padding-right: 12rem;

        color: #413954;
    }

    &__description {
        width: calc(100%/3);

        margin-top: 3.0625rem;
        margin-bottom: 5rem;

        padding-right: 3.125rem;

        &__text {
            max-width: 34.375rem;

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 175%;

            color: #413954;

        }

        &__text + &__text{
            margin-top: 1.5625rem;
        }
    }
}