.solutions {
    &__marketing {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4.8125rem 0;
        border-bottom: 1px solid #CECECE;
    }

    &__column {
        width: calc(100%/3 - 2rem);
    }

    &__title {
        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 1.25;

        color: #413954;
    }

    &__item {
        list-style: none;
        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 3.12;

        color: #413954;
    }
}

.comboTasks {
    width: 100%;
    padding: 9.125rem 0 7.6875rem;

    &__title {
        max-width: 39.375rem;

        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 41px;
        line-height: 1.22;
        margin-bottom: 6.25rem;

        color: #413954;
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.5625rem 0 1.875rem 0;
        border-bottom: 1px solid #CECECE;
    }

    &__column {
        width: calc(100% / 3 - 2rem);
    }

    &__number {
        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5625rem;
        line-height: 2;

        color: #413954;
    }

    &__subtitle {
        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5625rem;
        line-height: 2;

        color: #413954;
    }

    &__desc {
        font-family: Inter sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;

        color: #413954;
    }
}