.wrapper {
    width: 100%;

}
.navbar {
    height: 100px;
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7F7E82;
}

.menu {
    width: 87%;
}
.menu__block {
    width: 620px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu__block__item {
    color: #000;
    margin-right: 50px;
}
