<section class="crm">
    <div class="crm__header">
        <div class="wrapper">
            <div class="motivation">
                <h2 class="motivation__title">
                    <span class="violetText">Повышаем мотивацию к покупке</span> и лояльность к продукту на каждом этапе принятия решения
                </h2>
                <div class="motivation__desc">
                    <h3 class="motivation__tuning">
                        Мы настраиваем CRM, чтобы увидеть весь путь клиента от рекламы до покупки. 
                    </h3>
                    <p class="motivation__text">Мы работаем с</p>
                    <div class="motivation__buttons">
                        <button class="motivation__bitrix">
                            <img src="img/bitrix.png" class="motivation__bitrix_picture" alt="bitrix"/>
                        </button>
                        <button class="motivation__amoCRM">
                            <img src="img/amoCRM.png" clas="motivation__amoCRM_picture" alt="amoCRM"/>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="possibilities">
                <h4 class="possibilities__title">Это позволяет нам:</h4>
    
                <div class="possibilities__block">
                    <div class="possibilities__block__border"></div>
                    <p class="possibilities__text">
                        Выделять инструменты продвижения, которые привели к покупке и конверсиям вплоть до каждого рекламного контакта
                    </p>
                </div>
                
                <div class="possibilities__block">
                    <div class="possibilities__block__border"></div>
                    <p class="possibilities__text">
                        Отмечать и преодолевать барьеры из-за которых клиент теряет интерес к продукту
                    </p>
                </div>
    
                <div class="possibilities__block">
                    <div class="possibilities__block__border"></div>
                    <p class="possibilities__text">
                        Запускать целенаправленно рекламу для каждого этапа воронки продаж
                    </p>
                </div>
    
                <div class="possibilities__block">
                    <div class="possibilities__block__border"></div>
                    <p class="possibilities__text">
                        Отслеживать изменения в поведении пользователей, чтобы улучшать качество рекламы
                    </p>
                </div>
            </div>

            <h2 class="crm__header__title">
                Продвижение каждого продукта требует комплексного подхода для успешного результата
            </h2>
        </div>
    </div>
      
    <div class="wrapper">
        <div class="crm__row">
            <h4 class="crm__time">
                Первые 2 часа
            </h4>
            <h4 class="crm__task">
                Брифинг
            </h4>
            <p class="crm__taskDesc">
                Мы узнаем, как вы видите свой продукт и его продвижение, что хотите получить в итоге от рекламы. Уточняем вводные данные, детали проекта, обсуждаем организационные моменты. В итоге появляется план для достижения результата.
            </p>
        </div>
        
        <div class="crm__row">
            <h4 class="crm__time">
                1-2 дня
            </h4>
            <h4 class="crm__task">
                Аналитика 
            </h4>
            <p class="crm__taskDesc">
                Ищем информацию для разработки рекламных кампаний. Анализируем отрасль, изучаем конкурентов, выделяем преимущества продукта, чтобы выгодно их представить в рекламе. Сегментируем целевую аудиторию, определяем их потребности и боли. Это позволяет сформировать цели для получения конверсий и создания воронки продаж.
            </p>
        </div>
        
        <div class="crm__row">
            <h4 class="crm__time">
                3 дня
            </h4>
            <h4 class="crm__task">
                Разрабатываем рекламную стратегию
            </h4>
            <p class="crm__taskDesc">
                Составляем концепцию, план продвижения проекта и формируем маркетинговые гипотезы. Выбираем рекламные инструменты и составляем главные сообщения, на основе которых будут построены рекламные объявления.
            </p>
        </div>

        <div class="crm__row">
            <h4 class="crm__time">
                До 1 недели
            </h4>
            <h4 class="crm__task">
                Настраиваем веб-сервисы аналитики и CRM 
            </h4>
            <p class="crm__taskDesc">
                Внедряем аналитические инструменты, интегрируем c CRM и другими внутренними системами, если требуется. Согласовываем какие показатели и метрики будем отслеживать, а также вид отчета для оптимальной схемы работы с данными. 
            </p>
        </div>
        <div class="crm__row">
            <h4 class="crm__time">
                До 2 недель
            </h4>
            <h4 class="crm__task">
                Запуск рекламных кампаний и посадочных страниц
            </h4>
            <p class="crm__taskDesc">
                Создаем посадочные страницы. Параллельно настраиваем рекламные кабинеты, разрабатываем контент для рекламы и запускаем кампании.
            </p>
        </div>
        <div class="crm__row">
            <h4 class="crm__time">
                От 2 недель
            </h4>
            <h4 class="crm__task">
                Тестирование кампаний
            </h4>
            <p class="crm__taskDesc">
                Отслеживаем важные показатели маркетинга и продаж: прибыль, ROI, CPL, LTV и другие метрики. Определяем эффективность разных каналов.
            </p>
        </div>
        <div class="crm__row">
            <h4 class="crm__time">
                Постоянно
            </h4>
            <h4 class="crm__task">
                Корректировка рекламных кампаний
            </h4>
            <p class="crm__taskDesc">
                По мере необходимости вносим корректировки в продвижение, подстраиваясь под поведение покупателей и изменения на рынке. Разрабатываем и осуществляем рекламные активности под новые и текущие задачи, улучшаем или отсеиваем малоэффективную рекламу.
            </p>
        </div>
    </div>
</section>