<section class="desc">
    <div class="wrapper">
        <h2 class="desc__subtitle">
            Мы объединили <span class="desc__subtitle_gradient">аналитику, разработку рекламы и эффективные каналы продвижения</span>, чтобы выводить ваш продукт в топ среди конкурентов 
        </h2>
        <div class="skills">
            <div class="skill">
                <h4 class="skill__number">01</h4>
                <h4 class="skill__title">Web-аналитика полного цикла </h4>
                <div class="skill__description">
                    <p class="skill__description__text">
                        Анализируем посадочные площадки для тактических решений по повышению эффективности рекламы на всем жизненном цикле клиента.
                    </p>
                    <p class="skill__description__text">
                        Настраиваем систему сбора статистики о текущих конверсиях и целевых действиях клиентов на веб-ресурсах, заявках и звонков со всех рекламных инструментов. Мы анализируем трафик, его качество, источники и изучаем многоканальные последовательности. 
                    </p>
                </div>
            </div>
            <div class="skill">
                <h4 class="skill__number">02</h4>
                <h4 class="skill__title">Маркетинговый анализ конкурентов</h4>
                <div class="skill__description">
                    <p class="skill__description__text">
                        Перенимая успешный опыт других игроков рынка, внедряем его и улучшаем показатели рекламы.
                    </p>
                    <p class="skill__description__text">
                        Анализируем рекламу конкурентов для выявления потенциально выгодных каналов привлечения и точек роста конверсий.
                    </p>
                </div>
            </div>
            <div class="skill">
                <h4 class="skill__number">03</h4>
                <h4 class="skill__title">Digital-продакшн</h4>
                <div class="skill__description">
                    <p class="skill__description__text">
                        Отстраиваемся от конкурентов за счет создания уникального контента. Каждый наш рекламный макет — результат совместной работы маркетолога, копирайтера и дизайнера. Поэтому наша реклама выделяется на фоне конкурентов и эффективно решает задачи клиентов.
                    </p>
                </div>
            </div>
            <div class="skill">
                <h4 class="skill__number">04</h4>
                <h4 class="skill__title">Комбинирование рекламных инструментов</h4>
                <div class="skill__description">
                    <p class="skill__description__text">
                        Используем комплексный подход для увеличения охвата аудитории и повышения эффективности продвижения.                    </p>
                    <p class="skill__description__text">
                        Недостаточно качественно продвигаться по одному каналу — необходим комплексный подход. Мы всегда следим за трендами, чтобы разбираться в тончайших нюансах и важных деталях. Это позволяет нам опережать конкурентов и добиваться эффективных результатов.                    </p>
                </div>
            </div>
            <div class="skill">
                <h4 class="skill__number">05</h4>
                <h4 class="skill__title">Оптимизация и улучшение юзабилити</h4>
                <div class="skill__description">
                </div>
            </div>
        </div>
    </div>
</section>