<section class="projects">
    <div class="wrapper">
        <h2 class="projects__title">Проекты</h2>

        <div class="owl-carousel owl-theme carousel__projects">
            <div class="post">
                <img src="img/carousel__post_1.png" alt="arch" class="post__image" />
                <h3 class="post__title">ЭкспертТехСтрой</h3>
                <p class="post__desc">
                    <span class="post__desc_underline">574 целевых заявки по 800 р. при среднем чеке 50 000 р.</span> c контекстной рекламы в Яндекс и Google
                </p> 
            </div>
            <div class="post">
                <img src="img/carousel__post_2.png" alt="arch" class="post__image" />
                <h3 class="post__title">Dandelion</h3>
                <p class="post__desc">
                    Привлечение 364 лидов с помощью нативной рекламы в instagram
                </p> 
            </div>
        </div>
        <div class="carousel__projects__buttons"></div> 

    </div>
</section>