<section class="solutions">
    <div class="wrapper">
        <div class="solutions__marketing">
            <div class="solutions__column">
                <h2 class="solutions__title">
                    Решаем ваши задачи с помощью digital-маркетинга
                </h2>
            </div>
            <div class="solutions__column">
                <li class="solutions__item">
                    — Привлечение новой целевой аудитории
                </li>
                <li class="solutions__item">
                    — Увеличение количества продаж
                </li>
                <li class="solutions__item">
                    — Увеличение среднего чека
                </li>
                <li class="solutions__item">
                    — Увеличение лояльности аудитории
                </li>
                <li class="solutions__item">
                    — Продвижение медийного лица
                </li>
            </div>
            <div class="solutions__column">
                <li class="solutions__item">
                    — Продвижение нового бренда / продукта
                </li>
                <li class="solutions__item">
                    — Ребрендинг
                </li>
                <li class="solutions__item">
                    — Вывод продукта на рынок
                </li>
                <li class="solutions__item">
                    — Привлечение партнеров
                </li>
                <li class="solutions__item">
                    — HR-маркетинг
                </li>
            </div>
        </div>

        <div class="comboTasks">
            <h2 class="comboTasks__title">
                Комбинируем способы продвижения индивидуально под каждую задачу
            </h2>

            <div class="comboTasks__row">
                <div class="comboTasks__column">
                    <p class="comboTasks__number">
                        01
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__subtitle">
                        Привлекаем целевую аудиторию
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__desc">
                        Таргетированная реклама, продвижение в поисковых системах, Контекстная реклама, CPA-маркетинг, RTB, Видеореклама
                    </p> 
                </div>
            </div>
            <div class="comboTasks__row">
                <div class="comboTasks__column">
                    <p class="comboTasks__number">
                        02
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__subtitle">
                        Повышаем лояльность и конверсии
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__desc">
                        SMM, Доработка юзабилити посадочной площадки, Индивидуальная контент-стратегия
                    </p> 
                </div>
            </div>
            <div class="comboTasks__row">
                <div class="comboTasks__column">
                    <p class="comboTasks__number">
                        03
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__subtitle">
                        Возвращаем покупателей
                    </p> 
                </div>
                <div class="comboTasks__column">
                    <p class="comboTasks__desc">
                        Ремаркетинг, E-mail маркетинг
                    </p> 
                </div>
            </div>
        </div>
    </div>
</section>