<section class="tariffs">
        <h2 class="tariffs__title">
            У нас 3 тарифа на выбор под разные бюджеты и задачи
        </h2>
        <h4 class="tariffs__subtitle">
            Аналитика, Разработка дизайн-макетов, Написание рекламных текстов, Ведение и корректировка рекламных кампаний, Консультационная поддержка
        </h4>

        <div class="wrapper">
            
            <div class="tariffs__wrapper">
                <div class="tariffsCard">
                    <p class="tariffsCard__word">Тариф</p>
                    <h3 class="tariffsCard__title">Startup</h3>
                    <div class="tariffsCard__items">
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Для компании <span class="tariffsCard__item_bold">с рекламным бюджетом от 30 000 рублей</span>
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            2 рекламных канала одновременно
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Составляем рекомендации по доработке сайта / страницы в соцсетях
                        </li>
                    </div>

                    <div class="consultation">
                        <p class="consultation__word">Стоимость:</p>
                        <h4 class="consultation__price">25 000 рублей</h4>

                        <button class="consultation__button">Получить консультацию по тарифу</button>
                    </div>
                </div>

                <div class="tariffsCard">
                    <p class="tariffsCard__word">Тариф</p>
                    <h3 class="tariffsCard__title">Business</h3>
                    <div class="tariffsCard__items">
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Для компании <span class="tariffsCard__item_bold">с рекламным бюджетом от 80 000 рублей</span>
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Все рекламные каналы
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Разработка посадочной страницы / лэндинга
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Настройка СRM и интеграция с рекламными каналами
                        </li>
                    </div>
                   

                    <div class="consultation">
                        <p class="consultation__word">Стоимость:</p>
                        <h4 class="consultation__price">50 000 рублей</h4>

                        <button class="consultation__button">Получить консультацию по тарифу</button>
                    </div>
                </div>

                <div class="tariffsCard">
                    <p class="tariffsCard__word">Тариф</p>
                    <h3 class="tariffsCard__title">Expert</h3>
                    <div class="tariffsCard__items">
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Для компании <span class="tariffsCard__item_bold">с рекламным бюджетом от 200 000 рублей</span>
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Все рекламные каналы
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Programmatic-marketing
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Настройка СRM и интеграция с рекламными каналами
                        </li>
                        <li class="tariffsCard__item">
                            <svg class="tariffsCard__icon"width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.8086 0.639914H0.808594V2.29545H18.8086V0.639914Z" fill="#F9F9F9"/>
                            </svg>
                            Внедрение системы сквозной аналитики
                        </li>
                    </div>

                    <div class="consultation">
                        <p class="consultation__word">Стоимость:</p>
                        <h4 class="consultation__price">100 000 рублей</h4>

                        <button class="consultation__button">Получить консультацию по тарифу</button>
                    </div>
                </div>
            </div>
        </div>
</section>