<section class="team">
    <div class="wrapper">
        <div class="team__header">
            <h2 class="team__title">Команда вашего проекта</h2>
            <p class="team__subtitle">
                Каждый специалист включается в работу на определенном этапе, дополнительно привлекаются специалисты исключительно по мере необходимости.
            </p>
        </div>  

        <div class="owl-carousel owl-theme carousel__team">
            <div class="worker">
                <img src="img/worker_1.jpg" alt='worker' class="worker__image"/>
                <h3 class="worker__name">Илья</h3>
                <p class="worker__position">
                    Руководитель отдела трафика
                </p>
                <p class="worker__descPosition">
                    Разрабатывает тактику интернет-продвижения каждого проекта. Координирует работу команды таргетологов. 
                </p>
            </div>
            <div class="worker">
                <img src="img/worker_2.jpg" alt='worker' class="worker__image"/>
                <h3 class="worker__name">Эдуард</h3>
                <p class="worker__position">
                    Специалист по таргетированной рекламе
                </p>
                <p class="worker__descPosition">
                    Настраивает и ведет рекламные кампании в соцсетях</p>
            </div>
            <div class="worker">
                <img src="img/worker_3.jpg" alt='worker' class="worker__image"/>
                <h3 class="worker__name">Нелля</h3>
                <p class="worker__position">
                    Руководитель отдела маркетинга 
                </p>
                <p class="worker__descPosition">
                    Отвечает за аналитику проекта: качественные и количественные исследования для отстройки от конкурентов и запуска рекламы с учетом потребностей, болей целевой аудиторию
                </p>
            </div>
        </div>
        <div class="carousel__team__buttons"></div> 
    </div>
</section>