.category {
  margin: 6.25rem 0;
}

.category__button {
  width: 7.25rem;
  height: 2.625rem;
  background-color: #EFEFEF;
  border-radius: 93px;
  margin-right: 1.5625rem;
}

.category__button:focus {
  background: linear-gradient(90deg, #7137FF, #BF99FF);
  color: #fff;
}