@charset "UTF-8";

.modal {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #0400ff;
}

.modal__close {
  position: absolute;
  right: 5%;
  top: 3%;
  height: 20px;
  width: 20px;
  background: #0400ff;
}

.modal__close::after,
.modal__close::before {
  transition: background-color .3s;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
}

.modal__close::after {
  transform: rotate(45deg);
}

.modal__close::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: #0400ff;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.modal {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #0400ff;
}

.modal__close {
  position: absolute;
  right: 5%;
  top: 3%;
  height: 20px;
  width: 20px;
  background: #0400ff;
}

.modal__close::after,
.modal__close::before {
  transition: background-color .3s;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
}

.modal__close::after {
  transform: rotate(45deg);
}

.modal__close::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: #0400ff;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.navbar {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #7F7E82;
}

.menu {
  width: 87%;
  border-right: 2px solid #7F7E82;
  display: flex;
  justify-content: space-between;
}

.menu__logo {
  display: flex;
  align-items: center;
}

.menu__block {
  width: 38.75rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__block__item {
  color: #000;
  margin-right: 3.125rem;
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.startProject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
}

.startProject__text {
  color: #000;
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.profession {
  margin-top: 6.25rem;
}

.profession + .profession {
  margin-top: 36px;
}

.profession__choice {
  width: 7.25rem;
  height: 2.625rem;
  background-color: #EFEFEF;
  border-radius: 93px;
  margin-right: 1.5625rem;
}

.profession__choice:focus {
  background: linear-gradient(90deg, #7137FF, #BF99FF);
  color: #fff;
}

.profession__accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 3.75rem;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 2px solid #CECECE;
  text-align: left;
  transition: 0.5s;
  margin-top: 5.3125rem;
}

.profession__accordion p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.39;
  color: #413954;
}

.profession__accordion:after {
  content: '+';
  /* Unicode character for "plus" sign (+) */
  color: #413954;
  font-weight: 700;
  font-size: 1.5rem;
  float: right;
}

.profession__accordion_active:after {
  content: "-";
  /* Unicode character for "minus" sign (-) */
}

.profession__info {
  background-color: #f5f5f5;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  height: 0;
}

.profession__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #413954;
  margin-top: 3.125rem;
}

.profession__text + .profession__text {
  margin: 0;
}

.profession__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #413954;
}

.profession__list li {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #9F9F9F;
}

.profession__text + .profession__subtitle {
  margin-top: 3.75rem;
}

.profession__subtitle + .profession__list {
  margin-top: 1.25rem;
}

.profession__list + .profession__subtitle {
  margin-top: 1.25rem;
}

.profession__endButton {
  width: 17.5rem;
  height: 4.125rem;
  background: linear-gradient(90deg, #7137FF, #BF99FF);
  border: none;
  margin: 5rem 0;
}

.profession__endButton p {
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 130.5%;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main {
  width: 100%;
}

.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18rem;
  line-height: 79%;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #7137FF, #BF99FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 8.4375rem 0 0 0;
}

.intro__desc {
  max-width: 25rem;
  margin-top: 4.8125rem;
}

.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #413954;
}

.intro__picture {
  width: 100%;
  height: 43.75rem;
  object-fit: cover;
  margin-top: 4.8125rem;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  cursor: default;
  background-color: #f5f5f5;
  color: #000000;
}

section {
  position: relative;
}

p {
  color: #C0C0C0;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  position: relative;
  height: 100%;
}

a {
  color: #0400ff;
  display: inline-block;
  text-decoration: none;
}

svg {
  min-height: 1rem;
  height: 1rem;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
  border: none;
  background: none;
  outline: none;
}

textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: .7;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: all .3s;
}

.preloader::after {
  content: '';
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  height: 4rem;
  width: 4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.modal__box {
  padding: 2rem 3rem;
  box-sizing: border-box;
  position: relative;
  background-color: #f5f5f5;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1550px) {
  html {
    font-size: 15.5px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 14.5px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 13.5px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 12.5px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}