<section class="accordion">
    <button class="accordion__button">
        <p class="accordion__button__text">
            Team Lead Frontend-разработки
        </p>
    </button>
    <div class="accordion__info">
        <p class="accordion__text">Требуемый опыт работы: 3–6 лет </p>
        <p class="accordion__text">Полная занятость, Вахтовый метод</p>
 
        <h4 class="accordion__subtitle">Обязанности:</h4>
        <ul>
            <li>
                — Обработка деталей для авиации
            </li>
        </ul>
        <p class="accordion__info__secondText__desc">— Обработка деталей для авиации</p>
        <h4 class="accordion__subtitle">Требования:</h4>
        <p class="accordion__info__secondText__desc">— Опыт работы на координатно-шлифовальных станках</p>
        <h4 class="accordion__subtitle">График:</h4>
        <p class="accordion__info__secondText__desc">— 12 часов, шестидневка.</p>
        <p class="accordion__info__secondText__desc">— Почасовая оплата труда</p>
        <p class="accordion__info__secondText__desc">— Заработная начисляется на карту Банка, выплаты каждые две недели.</p>
        <p class="accordion__info__secondText__desc">— Спецодежда предоставляется</p>

        <button type="button" class="accordion__info__button">
            <p class="accordion__info__button__text">Откликнуться</p>
        </button>
    </div>
</section>