<section class="accordion">
    <button class="accordion__button">
        <h2 class="accordion__button__tex">
            Team Lead Frontend-разработки
        </h2>
    </button>
    <div class="accordion__info">
        <div class="accordion__info__firstText">
            <p class="accordion__info__firstText__item">Требуемый опыт работы: 3–6 лет </p>
            <p class="accordion__info__firstText__item">Полная занятость, Вахтовый метод</p>
        </div>

        <div class="accordion__info__secondText">
            <h4 class="accordion__info__secondText__title">Обязанности:</h4>
            <p class="accordion__info__secondText__desc">— Обработка деталей для авиации</p>
            <h4 class="accordion__info__secondText__title">Требования:</h4>
            <p class="accordion__info__secondText__desc">— Опыт работы на координатно-шлифовальных станках</p>
            <h4 class="accordion__info__secondText__title">График:</h4>
            <p class="accordion__info__secondText__desc">— 12 часов, шестидневка.</p>
            <p class="accordion__info__secondText__desc">— Почасовая оплата труда</p>
            <p class="accordion__info__secondText__desc">— Заработная начисляется на карту Банка, выплаты каждые две недели.</p>
            <p class="accordion__info__secondText__desc">— Спецодежда предоставляется</p>
        </div>

        <button type="button" class="accordion__info__button">
            <p class="accordion__info__button__text">Откликнуться</p>
        </button>
    </div>
</section>