<header class="header">
    <div class="header__info">  
        <div class="header__background">
            <div class="header__spot_1"></div>
            <div class="header__spot_2"></div>
        </div>
        
        <h1 class="header__title">
            Комплексная интернет-реклама 
            и digital-production для постоянного притока клиентов в ваш бизнес
        </h1>
        <p class="header__desc">
            Привлекаем клиентов, комбинируя каналы продвижения. Разрабатываем индивидуальные рекламные продукты под вашу целевую аудиторию
        </p>
        <button class="header__button">Обсудить проект</button>
    </div>

    <div class="wrapper">
        <div class="cards">
            <div class="card">
                <h3 class="card__title">
                    от 25 000 руб./мес.
                </h3>
                <p class="card__desc">
                    стоимость комплекса услуг агентства сравнима с зарплатой одного штатного специалиста
                </p>
            </div>
            <div class="card">
                <h3 class="card__title">
                    80% клиентов
                </h3>
                <p class="card__desc">
                    работают с нами по всему комплексу услуг: от дизайна и разработки до рекламы
                </p>
            </div>
            <div class="card">
                <h3 class="card__title">
                    3 дня
                </h3>
                <p class="card__desc card__desc_3">
                    самый быстрый срок запуска рекламной кампании 
                </p>
            </div>
        </div>
    </div>
</header>