<nav class="navbar">
    <div class="wrapper">
        <div class="menu">
            <div class="menu__logo">
                <img src="./img/logo.svg" alt="" />
            </div>
            <div class="menu__block">
                <a href="/" class="menu__block__item">Услуги</a>
                <a href="/" class="menu__block__item">О компании</a>
                <a href="/" class="menu__block__item">Проекты</a>
                <a href="/" class="menu__block__item">Статьи</a>
                <a href="/" class="menu__block__item">Контакты</a>
            </div>
        </div>
        <div class="startProject">
            <a href="/" class="startProject__text">Начать проект</a>
        </div>
    </div>
</nav>