<section class="outro">
    <div class="spheres">
        <h2 class="spheres__title">
            Имеем 6 лет опыта с бизнесом из разных сфер
        </h2>
        <div class="spheres__buttons">
            <button class="spheres__button">
                Строительство
            </button>
            <button class="spheres__button">
                Юридические услуги
            </button>
            <button class="spheres__button">
                Детские товары
            </button>
            <button class="spheres__button">
                Косметика
            </button>
            <button class="spheres__button">
                Турбизнес
            </button>
            <button class="spheres__button">
                Женская одежда
            </button>
            <button class="spheres__button">
                Модельное агентство
            </button>
            <button class="spheres__button">
                Спортивное питание
            </button>
            <button class="spheres__button">
                Промышленное оборудование
            </button>
        </div>

        <button class="spheres__href">Стать клиентом</button>
    </div>

    <h2 class="outro__CarouselText">СЕРТИФИКАТЫ</h2>
    <div class="wrapper">
        <div class="certificates">
            <h2 class="certificates__title">Применяем знания на практике</h2>
            <div class="certificates__images">
                <img src="img/yandex.png" alt="yandex" class="certificates__image_1" />
                <img src="img/yandex.png" alt="yandex" class="certificates__image_2" />
            </div>
        </div>
        

        <div class="content">
            <h2 class="content__title">
                Digital-production для создания уникального рекламного контента
            </h2>
            <p class="content__text">
                В нашем штате 30+ специалистов в сферах it-разработок, маркетинга, рекламы и дизайна. Мы самостоятельно проводим необходимую аналитику, создаем макеты для рекламы, запускаем посадочные страницы и лендинги для продвижения. 
            </p> 
        </div>

        <div class="contacs">
            <h2 class="contacs__title">
                Расскажите нам о своей цели и оставьте контакты
            </h2>
            <button class="contacs__project">
                Обсудить проект
            </button>
        </div>
    </div>
</section>