<section class="profession">
    <div class="profession__mainButtons">
        <button type="button" class="profession__choice">Дизайн</button>
        <button type="button" class="profession__choice">Front</button>
        <button type="button" class="profession__choice">Back</button>
        <button type="button" class="profession__choice">Офис</button>
    </div>
    
    <button class="profession__accordion">
        <p class="profession__button__text">
            Team Lead Frontend-разработки
        </p>
    </button>
    <div class="profession__info">
        <p class="profession__text">Требуемый опыт работы: 3–6 лет </p>
        <p class="profession__text">Полная занятость, Вахтовый метод</p>
 
        <h4 class="profession__subtitle">Обязанности:</h4>
        <ul class="profession__list">
            <li>
                — Обработка деталей для авиации
            </li>
        </ul>
        <h4 class="profession__subtitle">Требования:</h4>
            <ul class="profession__list">
                <li>
                    — Опыт работы на координатно-шлифовальных станках
                </li>
            </ul>
        <h4 class="profession__subtitle">График:</h4>
        <ul class="profession__list">
            <li>
                — 12 часов, шестидневка
            </li>
            <li>
                — Почасовая оплата труда
            </li>
            <li>
                — Заработная начисляется на карту
            </li>
            <li>
                — Спецодежда предоставляется
            </li>
        </ul>

        <button type="button" class="profession__endButton">
            <p class="profession__endButton__text">Откликнуться</p>
        </button>
    </div>
</section>